#slider{
  display: flex;
  flex-direction: column;
  justify-content: center;

    width: 100%;
    height: 100vh;

    background-image: url(../images/banner1-4.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    position: relative;

    &::after{
      content: "";
      position: absolute;
      width: 100%;
      height: 100%;
      background-color: black;
      opacity: 50%;
      
    }

    .slider-area {
      width: 100%;
      max-width: 880px;
      margin: 0 auto;
    
      text-align: center;
      color: white;
      z-index: 2;

      h1{
        font-size: 60px;
      }

      h2{
        font-size: 50px;
        font-weight: 200;
      }

      h3{
        font-size: 20px;
        font-weight: 200;
      }
    }
}

.slider-items{
  display: flex;
  width: 100%;
  margin: 0 auto;
    
  text-align: center;
  color: white;
  z-index: 2;

  .col-3{
    .item{
      text-align: center;
      background-color: #26313c;
      transform: translate(200px, -10px);
      color: white;
      i{
        font-size: 30px;
        margin-bottom: 40px;
        padding-top: 80px;
      }
     p{
       padding-bottom: 80px;
     }
    }

    .item-2{
      padding: 30px;
      text-align: center;
      background-image: linear-gradient(to right, #5192e1 0%, #23ced5 51%, #5192e1);
      transform: translate(200px, -10px);
      color: white;
      i{
        font-size: 30px;
        margin-bottom: 40px;
        padding-top: 70px;
      }
      p{
        padding-bottom: 80px;
      }
    }
  }
}



